# Tools for Data Science Final Assignment

# Tools for Data Science Final Assignment

## Introduction
This notebook is part of the final assignment for the Tools for Data Science course. It includes exercises using markdown and code cells to demonstrate key tools and concepts used in data science.

## Introduction
This notebook is part of the final assignment for the Tools for Data Science course. It includes exercises using markdown and code cells to demonstrate key tools and concepts used in data science.

## Data Science Languages
- Python  
- R  
- SQL  
- Julia  
- Scala

## Data Science Languages
- Python  
- R  
- SQL  
- Julia  
- Scala

## Data Science Libraries
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow

## Data Science Libraries
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow

## Data Science Tools

| Tool         | Description                          |
|--------------|--------------------------------------|
| JupyterLab   | Interactive development environment  |
| RStudio      | IDE for R programming                |
| Apache Spark | Big data processing and analytics    |

## Data Science Tools

| Tool         | Description                          |
|--------------|--------------------------------------|
| JupyterLab   | Interactive development environment  |
| RStudio      | IDE for R programming                |
| Apache Spark | Big data processing and analytics    |

## Examples of Arithmetic Expressions
The following code cell will perform arithmetic operations such as multiplication and addition.

## Examples of Arithmetic Expressions
The following code cell will perform arithmetic operations such as multiplication and addition.

In [1]:
# Arithmetic operation
a = 5
b = 3
result = a * b + 2
print("The result is:", result)

The result is: 17

In [2]:
# Convert minutes to hours
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours.")

200 minutes is equal to 3.3333333333333335 hours.

## Objectives
- Understand basic data science tools
- Create and format markdown cells
- Write and execute code cells
- Perform arithmetic operations in Python

## Objectives
- Understand basic data science tools
- Create and format markdown cells
- Write and execute code cells
- Perform arithmetic operations in Python

## Author
JHON

## Author
JHON